@font-face {
  font-family: "iconfont"; /* Project id 2801990 */
  src: url('iconfont.woff2?t=1631180529573') format('woff2'),
       url('iconfont.woff?t=1631180529573') format('woff'),
       url('iconfont.ttf?t=1631180529573') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Doyuguanzhu:before {
  content: "\e637";
}

.icon-Doyuwode-copy:before {
  content: "\e600";
}

.icon-Doyufangdajing:before {
  content: "\e656";
}

.icon-Doyuyule:before {
  content: "\e606";
}

.icon-Doyushayu:before {
  content: "\e6ab";
}

.icon-Doyutuijian:before {
  content: "\e648";
}

